<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995588646947-snkmfoqh73fq1jqb52fvmu006sl12klf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995588646947-snkmfoqh73fq1jqb52fvmu006sl12klf</string>
	<key>API_KEY</key>
	<string>AIzaSyCOYsQbytxFhQgdHhcpnioPfSI_VnJ7kbc</string>
	<key>GCM_SENDER_ID</key>
	<string>995588646947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.abhas.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-eec55</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-eec55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995588646947:ios:0ad801d48eae5970016996</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-eec55.firebaseio.com</string>
</dict>
</plist>